.horizontal-scroll-list {
    display: flex;
    background-color: white;
    width: 80vw;
    overflow-x:auto;
    gap: 30px;
    padding: 16px;
    margin-right: 100px;
    align-self: center;
    margin-left: 100px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.horizontal-scroll-list::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll-list {
    scrollbar-width: none;
}

.horizontal-scroll-item {
    background-color: white;
    padding: 4px 0;
    border-radius: 8px;
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    border: none;
    align-items: center;
    gap: 4px;
    font-size: 1.1rem;
    font-weight: 200;
    color: #4b5563;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    scroll-snap-align: start;
}

.horizontal-scroll-item:hover {
    background-color: #f3f4f6;
    transform: scale(1.05);
}

.horizontal-scroll-item.active {
    background-color: #d1d5db;
    color: #1f2937;
}

.horizontal-scroll-list {
    scroll-behavior: smooth;
}
