/* Base Styles */
.search-bar {
  display: flex;
  scroll-behavior: smooth;
  transform: translateY(-100%); /* Slide in from top */
  animation: slideIn 1s ease-out forwards; /* Apply the animation */
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

/* Keyframes animation to expand the width from 0 to 100vw */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%); /* Slide in from top */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}
.search-bar-container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #e5e7eb;
  border-radius: 45px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;

  padding: 10px;
}
.search-bar-input-container {
  padding: 1px;
}

.search-bar-input:hover,
.search-bar-date:hover,
.search-bar-select:hover {
  transform: scale(1.05); /* Small hover effect */
}

.search-bar-input,
.search-bar-date,
.search-bar-select {
  outline: none;
  background-color: transparent;
  border-style: dashed;
  border-color: white;
  padding-left: 1px;
  transition: border-color 0.3s ease;
}

.search-bar-button {
  background-color: #ef4444;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
  font-size: 15px;
  padding: 12px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 50%;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.search-bar-button:hover {
  background-color: #dd2020;
}

/* Responsive scaling for transitions */
@media (max-width: 1024px) {
  .search-bar-container {
    transform: scale(0.9);
  }
}

@media (max-width: 768px) {
  .search-bar-container {
    display: none; /* Hide on smaller screens */
  }
}

.search-bar-label {
  font-size: 1rem;
  padding: 1px;
  font-weight: 600;
  color: #4b5563;
  margin-right: 10px;
}
